.base_header {
  margin-top: 0;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 32px;
  color: white;
  background-color: white;
  margin-bottom: 0;
}

/* left-side */

.left_box {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.favicon_frame {
  margin-right: 30px;
}

.faviconFrame {
  width: 25px;
}

.logo_box {
  width: 110px;
}

.navlogo {
  width: 100%;
}

/* right-side */

.right_box {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.heart {
  width: 25px;
}

.myInfo {
  width: 25px;
}

.myInfo_box {
  margin-left: 30px;
}

.showID {
  color: black;
  margin-left: 20px;
}

.navline {
  margin: 0;
}

.navbar_item > a {
  color: black;
  text-decoration: none;
}
