body {
  background-color: whitesmoke;
}

/* SignUp Container */

.signUp_container {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  width: 280px;
  height: 390px;
  background-color: white;
  text-align: center;
  border: 1px solid lightgrey;
}

.instagramText {
  width: 130px;
  padding-top: 35px;
  padding-bottom: -5px;
}

.joinLetter {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: gray;
}

.line {
  width: 80%;
  border: 1px solid lightgray;
  margin-bottom: 40px;
}

.userSignUp {
  width: 70%;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 10px;
}

#signUpButton {
  margin-top: 10px;
  width: 78%;
  color: white;
  background-color: #0c9af2;
  padding: 3px;
  border: none;
  border-radius: 3px;
}

/* Join Instagram */

footer {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  width: 280px;
  height: 45px;
  background-color: white;
  border: 1px solid lightgrey;
  align-items: center;
  justify-content: center;
}

.join {
  font-size: 13px;
}

.joinBtn {
  outline: none;
  border: none;
  background-color: transparent;
  color: #0c9af2;
}
