{% extends 'base.html'%}
<head>
{% load static %}
{% block extrahead %}
<link href="{% static 'css/feed.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
</head>
{% block content %}
<form action="{% url 'update' post.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p>작성자 : <input type="text" name="writer" value = "{{post.writer}}"></p>
    <p>사진 : <input type="file" name="image" value = "{{post.image}}"></p>
    <button type="submit">Submit</button>
</form>
{% endblock %}