{% extends 'base.html'%}
<head>
{% load static %}
{% block extrahead %}
<link href="{% static 'css/profile.css'%}" rel="stylesheet" type="text/css"/>
{% endblock %}
</head>
{% block content %}
    <header class="profile_header">
        <div class="profileImgBox">
            <button class="profileBtn">
                <img class="profileImage" src="{% static 'img/ssu_likelion_logo_150x150.png' %}" alt="프로필 이미지">
            </button>
        </div>
        <div class="profileBox">
            <div class="profile">
                <h1 class="userName">LikeLionSSU</h1>
                <button class="profileEditBtn">프로필 편집</button>
            </div>   
            <div class="profileInfo">
                <ul>
                    <li><span class="profileStatsNum">000</span> 게시물</li>
                    <li><span class="profileStatsNum">000</span> 팔로워</li>
                    <li><span class="profileStatsNum">000</span> 팔로잉</li>
                </ul>
            </div>
            <div class="profileIntroduce">
                <p>안녕하세요~~</p>
            </div>
        </div>
    </header>
    <main>
        <div class="post">
            <div class="postImg">
                <img class="galleryImg" src="{% static 'img/lionface.png' %}" alt="사자 얼굴">
            </div>
            <ul class="postInfo">
                <li>Likes: 0</li>
                <li>Comments: 0</li>
            </ul>
        </div>
        <div class="post">
            <div class="postImg">
                <img class="galleryImg" src="{% static 'img/lionface.png' %}" alt="사자 얼굴">
            </div>
            <ul class="postInfo">
                <li>Likes: 0</li>
                <li>Comments: 0</li>
            </ul>
        </div>
        <div class="post">
            <div class="postImg">
                <img class="galleryImg" src="{% static 'img/lionface.png' %}" alt="사자 얼굴">
            </div>
            <ul class="postInfo">
                <li>Likes: 0</li>
                <li>Comments: 0</li>
            </ul>
        </div>
    </main>
{% endblock %}
